%footer{ :class => "row footer"}
  %div{ :class => "twelve columns"}
  %p{ :class => "four columns"}
    %strong Dentists Benefits Insurance Company
    %br/
    10505 SE 17th Ave, Milwaukie, OR 97222
    %br/
    503-765-3510 • 800-452-0504 toll free
    %br/
    503-765-3511 fax •
  %p{ :class => "push_two five columns"}
    Copyright &copy;
    %script{:language => "JavaScript"}
      document.write((new Date()).getFullYear());
    Health Services Group, Inc. All Rights Reserved.
    %a{:href => "/privacy.shtml"} Privacy
    |
    %a{:href => "/terms.shtml"} Terms of Use