---
title: Welcome to Middleman
---

#contentMain.group
  .box.group.margin-right
    %h3.box-title PRODUCTS
    %ul.box-list
      %li
        %a{:href => "https://www.odshealthplans.com/SecuredFormsWeb/Forms?cmd=view&name=dbicrenewalquestionnaire"}
          Renewal Questionnaire
      %li
        %a{:href => "/products/pro_liability.shtml"} Professional Liability Insurance
      %li
        %a{:href => "/products/property.shtml"} Dental Office Package
      %li
        %a{:href => "/products/apply.shtml"} Apply for Coverage
    %p.box-text-block
      DBIC offers a variety of dentist insurance programs customized to meet your dental practices unique needs.
    %p.box-text-block
      For more than 25 years, Dentists Benefits Insurance Company (DBIC) has been the leading dentist insurance provider in Oregon. Our products and services include professional liability insurance, general liability insurance, property and building insurance, risk management and risk management training.
  .box.group
    %h3.box-title RISK MANAGEMENT
    %p.padding-bottom
      As part of our risk management services,  we offer recurring seminars on a variety of topics designed to help dentists  take the necessary steps to protect their practices.
    %ul.box-list.padding-top
      %li
        %a{:href => "images/DBIC_risk_management.pdf"} Risk Management: A practical guide for dentists
      %li
        %a{:href => "images/DBIC_study_quiz.pdf"} Online study quiz
      %li
        %a{:href => "/risk_mgt/workshops.shtml"} Seminar calendar
      %li
        %a{:href => "/risk_mgt/forms.shtml"} Consent forms
      %li
        %a{:href => "/risk_mgt/tip.shtml"} Risk management tips
      %li
        %a{:href => "/docs/auth_release_emp.doc"} Authorization for Release of Information for Employment Purposes